* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
.background-img {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #777;
  font-size: 3vh;
  color: aliceblue;
  letter-spacing: 5px;
  cursor: default;
}
.logo {
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: aliceblue;
  margin: 5px;
  transition: all 0.3s ease;
}

/* makes changes when screen size less than 1024px */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* no scroll bar bottom */
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #777;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-links li {
    opacity: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
