* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #777;
  font-size: 3vh;
  color: aliceblue;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
}

/* !!! */
.burger div {
  width: 25px;
  height: 1px;
  background-color: aliceblue;
  padding: 5px;
}
